@page
@using System.Security.Claims;
@model pizza_mama_V2.Pages.Admin.UsersManagement.CreateModel

@{
    ViewData["Title"] = "Create";
    var userRole = User.FindFirst(ClaimTypes.Role)?.Value;
}

<h1>Create</h1>

<h4>Account</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Account.Username" class="control-label"></label>
                <input asp-for="Account.Username" class="form-control" />
                <span asp-validation-for="Account.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account.Password" class="control-label"></label>
                <input asp-for="Account.Password" class="form-control" />
                <span asp-validation-for="Account.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account.Roles" class="control-label"></label>
                <input asp-for="Account.Roles" class="form-control" />
                <span asp-validation-for="Account.Roles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
